body{
    background-color:#2f3640;
    color:white;
    font-family: Arial, sans-serif;
}


.navbar{
    background-color:#353b48;
}
.welcome-box{
    background:#f1f2f6;
    color:black;
}

.bg-info{
    background-color:#40739e;
    height: 150px;
    margin: 10px;
}

.bg-warning{
    background-color:#40739e;
    height: 150px;
    margin: 10px;
}

.bg-danger{
    background-color:#40739e;
    height: 150px;
    margin: 10px;
}