.container {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: minmax(300px,auto-fit);
    gap: 10px;
    grid-auto-columns: minmax(50px,auto-fit);

}
.item{
    background-color:rgb(185, 117, 117);
    border: 1px solid black;
    
}


.item1{
    grid-column: 1/3;
    grid-row: 1/3;
    
}
