h1{
    text-align: center;
    text-decoration: dashed;
    font-size: 100;
    font-weight: bold;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(247, 3, 3);
    border: 3px solid;
}

pr{
    text-align: center;
    border: 0cap;
    background-repeat: no-repeat;
    break-inside: auto;
}