h1{
    text-align: center;
    text-decoration: dashed;
    font-size: 100;
    font-weight: bold;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

pr{
    text-align: center;
    border: 0cap;
    background-repeat: no-repeat;
    break-inside: auto;
}